mixin css(url)
  link(rel="stylesheet" href=url)

mixin script(url)
  script(src=url)

mixin title(page)
  if page
    title #{page} | PalHub
  else 
    title PalHub

mixin ga 
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100863283-1', 'auto');
  if user
    script.
      ga('set', 'userId', '#{user.id}')

mixin favicon
  link(rel="shortcut icon" type="image/png" href="/storage/favicon.png")

mixin react
  +script('https://unpkg.com/react@15/dist/react.js')
  +script('https://unpkg.com/react-dom@15/dist/react-dom.js')
  +script('https://unpkg.com/prop-types/prop-types.js')

mixin socketio
  +script('https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')

mixin userObj
  script.
    window.user = {
      'id': '#{user.id}',
      'name': '#{user.name}',
      'facebook': {
        'id': '#{user.facebook.id}'
      }
    }

mixin roomObj
  script.
    window.room = {
      'id': '#{room.id}',
      'name': '#{room.name}',
    }

mixin scripts
  if user
    +userObj
  if room
    +roomObj

mixin adapter
  +script('https://webrtc.github.io/adapter/adapter-latest.js')
