extends ./../layouts/master.pug

block content
  section.wrapper
    div.center
      if errors
        div.alert
          each error in errors
            each value, key in error
              p= value
      h1 聊天之前介紹一下你自己吧！
      form(method='post')
        div.avatar-picker
          div.avatar-boy
          p 男生
          input(type='radio' name='gender' value='male' checked=user.gender == 'male' ? 'checked' : undefined) 
        div.avatar-picker
          div.avatar-girl
          p 女生
          input(type='radio' name='gender' value='female' checked=user.gender == 'female' ? 'checked' : undefined) 
        div.avatar-picker
          div.avatar-alien
          p 外星人
          input(type='radio' name='gender' value='alien' checked=user.gender == 'alien' ? 'checked' : undefined) 
        div.cont
          span(style='font-size:1.5rem;') 暱稱
          input#name.form-text(type='text' name='name' value=user.name)
        div.cont
          span(style='vertical-align:top;font-size:1.5rem') 簡介
          textarea.form-text#intro(name='intro' style='min-height:100px;')
            | #{user.intro}
        input.btn#submit(type='submit' value='確認') 
